[submodule "GameSpy/SDK"]
	path = GameSpy/SDK
	url = https://github.com/nitrocaster/GameSpy
[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm
